body,
#root {
  margin: 0px;
  padding: 0px;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.score {
  background-color: blue;
  padding: 6px;
  border-radius: 8px;
  text-align: center;
  font-size: larger;
  font-weight: bold;
}

.btn {
  background-color: crimson;
  padding: 6px;
  border-radius: 8px;
  text-align: center;
  font-size: larger;
  font-weight: bold;
}
